#snake-field{
    display: inline-block;
}
#snake-renew,#snake-start{
    width: 150px;
    padding: 15px;
    color: white;
    background-color: green;
    text-align: center;
    cursor: pointer;
    float: Left;
    margin-right: 10px;
}

#exit{
    width: 75px;
    padding: 15px;
    color: white;
    background-color:grey;
    text-align: center;
    cursor: pointer;
    float: left;
    margin-right: 10px;
    position: absolute;
    left: 600px;
    top: 30px;
}
.game-table{
    border-collapse: collapse;
    background-color: #4e4e4e;
}
td.game-table-cell{
    width: 15px;
    height: 15px;
    border: 1px dotted #000000;
}
.snake-unit{
    background-color: rgb(63, 0, 99);
}
.food-unit{
    background-color: rgb(206, 43, 255);
}
.buttons{
    display: inline-block;
}
.wrap{
    margin: 30px auto 0;
    text-align: center;
}
